<nav class="navbar fixed-top">
    <a href="" class="logo-link">Super Restaurant</a>
    <div>
        <ul class="nav-list">
            <li class="fs-5">
                <a href="#">Home</a>
            </li>
            <li class="fs-5">
                <a href="#">Login</a>
            </li>
            <li class="fs-5">
                <a href="#">Sing In</a>
            </li>
            <li class="fs-5">
                <a href="#">Delivery</a>
            </li>
        </ul>
    </div>
    <div class="cont-btn-hide-nav">
        <button class="btn-Hide-Nav btn fs-5" id="btn-Hide-Navbar">☰</button>
    </div>

    <div class="hide-Navbar" id="cont-Navbar-Hide">
        <div class="cont-Nav" id="cont-Navbar">
            <div class="cont-btn-close-nav">
                <button class="btn fs-5" id="btn-Hide-Navbar-Close">x</button>
            </div>
            <ul class="list-nav-hide">
                <li class="fs-5">
                    <a href="#">Home</a>
                </li>
                <li class="fs-5">
                    <a href="#">Login</a>
                </li>
                <li class="fs-5">
                    <a href="#">Sing In</a>
                </li>
                <li class="fs-5">
                    <a href="#">Delivery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>